@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$arkred: #de0303;
$text-color: white;
$highlight-color: linear-gradient(to right, $arkred, orange);
$transition-duration: 1s;
$delay-duration: 3s;
$interface-img: 'astronaut.jpg';

@mixin subheadtext{
  
    font-size: 4vh;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 3;
    text-align: center; // Center text horizontally
    margin: 0vw 15vw 5vw 15vw;
    .text-span{
      color: $arkred;
   }
}
@mixin subsubheadtext{
  font-size: 3vh;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 5  ;
    text-align: center; 
    
}
@mixin phone-styles {
  @media only screen and (max-width: 600px) {
    margin-top: 30vw;
    margin-bottom: 30vw;
  }
}
@mixin card{
  width: 28vw;
    height: 36vw;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;

}
* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}



header {
  z-index: 10000000;
  position: fixed;
  padding: 40px 20px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(8px); // Safari 9+, Chrome, Edge
  backdrop-filter: blur(8px); // Standard syntax

  // Fallback for browsers that do not support backdrop-filter
  background-color: rgba(0, 0, 0, 0.5); // Adjust opacity as needed
  a{
    text-decoration: none;
  }
  img{
    width: 250px;
  height: auto;
  }
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;

    a {
      color: $arkred;
    }
  }
}
.interface {
  
  z-index: -1;
  position: relative; // Ensure proper layering with z-index
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0)), url('#{$interface-img}');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  

  
  &::after {
    content: ""; // Create pseudo-element
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit; // Inherit background from parent
    filter: brightness(0.6); // Apply filter only to the image
  }
  #scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 1000;
  }
  
  #scroll-down.hidden {
    opacity: 0;
  }
  
  .headtext {
    display: flex;
    font-size: 10vh; // Responsive font size based on viewport width
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 1;
    text-align: center; // Center text horizontally
    justify-content: center;
    align-items: center;
    margin-bottom: 9vw;
    

  }
  .subheadtext{
  @include subheadtext;
  }

  

  
  .subsubheadtext{
  @include subsubheadtext;
  }
  // Media query for smaller screens (e.g., mobile devices)
  @media screen and (max-width: 768px) {
    .headtext {
      font-size: 17vw; // Adjust font size for smaller screens
    }
    .subheadtext{
      font-size: 8vw;
    }
    .subsubheadtext{
      font-size: 5vw;
    }

  }
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    color: white;
  }

  li {
    padding: 5px;
    margin-left: 10px;

    &:hover {

      cursor: pointer;
      transition: 0.3s;
    }
  }
}
button {
  /* Base styles for the button */
  background-color: $arkred; /* Blue background */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

  /* Transition effect for hover */
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;

}

button:hover {
  /* Styles on hover */
  background-color: white; /* Darker blue on hover */
  color: black;
  border-color: $arkred;
  border-width: 2px;  

  
}



#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;

  div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  &.open {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -8px);
      transform: rotate(45deg) translate(-6px, -8px);
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;

  
  li {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;

  }

  #hamburger-icon {
    display: block;
    
  }

  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 7vw;
    z-index: 2  ;
    background-color: rgba(0, 0, 0, 0.85); // Start with fully transparent background
    // Add an overlay with a translucent color
    transition: all 0.3s ease; 
  }
  
}
.program{
  margin-top: 20vw;
  @include phone-styles;
  .subheadtext{
    @include subheadtext;
  }
  .program-cards {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20vw;
    margin: 8vw 0vw 13vw 0vw;
  }
  
  .javascript {
    background: rgb(247, 223, 49);
    @include card;
    .js{
      width: 28vw;
      height: auto;
    }
    
  }
  .java{
    background-color: aliceblue;
    @include card;
  }
  .javascript:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background: rgb(247, 223, 49);
    color: black;
  }
  .java:hover{
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    color: black;
    background-color:aliceblue ;
  }

  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    opacity: 0;   
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
   margin-top: 5vw;
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size:20px;
    transform: rotate(0deg);
    
    
  }
  
  
   
}

.location{
  display: grid;
  justify-content: space-around;
  .subheadtext{
    @include subheadtext;
  }
  .finder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }
  .subsubheadtext{
    margin-top: 3vw;
    @include subsubheadtext;
  }

  .frame {
    width: 35vw;
    height: 35vw;
    margin-top: 15px;
    align-self: space-between;
  }

  /* Media query for smaller screens (e.g., mobile devices) */
  @media screen and (max-width: 600px) {
    .finder {
      display: flex;
      flex-direction: column; /* Change the layout to stack vertically */
      align-items: center; /* Center the items horizontally */
    }
  }
}
.footer{
  display: flex;
  background-color: rgb(17, 17, 17);
  padding-top: 7vw;
  justify-content: space-evenly;
  align-items: start;
  height: 32vh;
  padding: 20px;
  .ft-section{
    display: flex;
    flex-direction: column;
    hr{
      border-top: 3px $arkred;
      margin-bottom: 5px;
      text-decoration: none;
    }
    h4{
      font-size: 20px;
      font-weight: bold;
      color: white;
      margin-bottom: 10px;
    }
    h6{
      font-size: 15px;
      color: white;
      margin-bottom: 10px;
    }
  }
}
.us{
  @media only screen and (max-width: 767px) {
    .collection {
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-left: 20px;
        padding-bottom: 20px;
        -webkit-overflow-scrolling: touch; 
        .team {
            width: 80%; 
            min-width: 200px; 
            max-width: none; 
            margin-right: 10px; 
        }
    }
}
  .collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    align-self: space-between;
    margin:15vw 0vw 15vw 2vw;

    
  }
  .cardABC {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 240px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: var(--bg-color);
}

.card__img {
    height: 192px;
    width: 100%;
}

.card__img svg {
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.card__avatar {
    position: absolute;
    width: 114px;
    height: 114px;
    background:aliceblue;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 57px);
}

.card__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: grey;
}

.card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: aliceblue;
    background: $arkred;
    text-transform: uppercase;
    transition: all 0.3s;
    text-align: center;
}

.card__btn-solid {
    background: aliceblue;
    color: black;
}

.card__btn:hover {
    background: aliceblue;
    color: black;
}

.card__btn-solid:hover {
    background: aliceblue;
    color: black;
}
}